# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Logs
*.log