# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Secrets
.env
.env.*
!.env.example
k8s/secret.yaml
k8s/postgres-secret.yaml

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log

# Logs
*.log